.post {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.post__container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 350px;
    border: solid 2px rgb(139, 0, 255);
    border-radius: 10px;
    padding: 10px;
}

.post__title {
    text-align: left;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.post__body {
    text-align: justify;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.post__pagination{
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width: 350px;
}
